/* table.css */

:root {
  --background-color: #f2f2f2;
  --text-color: #000;
  --border-color: #ddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --text-color: #fff;
    --border-color: #555;
  }
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  table-layout: auto;
  background-color: var(--background-color);
  color: var(--text-color);
}

th {
  font-weight: bold;
  background-color: var(--background-color);
  padding: 8px;
  border: 1px solid var(--border-color);
  text-align: left;
  height: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

td {
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: left;
  height: 10px;
}

tr:nth-child(even) {
  background-color: var(--background-color);
}

thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}

tbody th {
  position: sticky;
  left: 0;
  z-index: 1;
}

.sort-icon {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.25;
}

.sort-icon:hover,
.active {
  opacity: 1;
}

thead tr th:first-child,
tbody tr th:first-child {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}
